form {
	display: inline;
    margin: 0 10px 0 10px;
}

body{
	background: #F5F5F5;
}

.wrapper {
    text-align: center;
    padding: 100px 0 0 0 ;
}

#boyForm {
	background: url( "/resources/imgSrc/boy.JPG" ) ;
	text-align: center;
    display: inline-block;
    width: 130px;
    height: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
    border-radius: 30px 30px;
    background-size: cover;
   	cursor : pointer;
    margin-right: 2rem; 
}

#girlForm {
	background: url( "/resources/imgSrc/girl.JPG" ) ;
	text-align: center;
    display: inline-block;
    width: 130px;
    height: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
    border-radius: 30px 30px;
    background-size: cover;
   	cursor : pointer;
    margin-right: 2rem; 
}